@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Inter:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Oceanic TRIAL';
    font-weight: 400;
    color: #fff;
    font-size: 16px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}


.wrapper {
    background: #011845;
    background: linear-gradient(90deg, rgba(1, 24, 69, 1) 0%, rgba(73, 97, 146, 1) 50%, rgba(1, 24, 69, 1) 100%);
    width: 100%;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}

header .AQUARIM {
    text-transform: uppercase;
    font-size: 28px;
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li{
    display: inline-block;
}

header nav ul li a {
    color: #fff;
}

header nav ul li:not(.bat) a:hover {
    transition: color 0.3s;
}

nav a:hover {
  color: #E9663D
}

.hero {
    padding-bottom: 500px;
    position: relative;
}

.hero--info {
    width: 1210;
    padding-top: 10px;
}

.hero--info h1 {
    color: #496192;
    font-size: 280px;
}

.hero--info h2 {
    font-size: 80px;
    font-weight: 390;
}

.hero--info p {
    font-weight: 500;
    line-height: 170%;
    margin: 30px 0;
}

.hero--info .btn {
    background: #E9663D;
    color: #fff;
    padding: 15px 70px;
    border: 0;
    transition: all 500ms ease;
    font-size: 24px;
}

.hero--info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}


.hero-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    z-index: 2;
}

.left {
    width: 40%;
    text-align: left;
}

.right {
    width: 40%;
    text-align: right;
}

.fork {
    position: absolute;
    top: 160px;
    left: 45%;
    transform: translateX(-50%);
    z-index: 3;
    width: 220px;
}

html {
    scroll-behavior: smooth;
}


/* Сеция "о ресторане" */


.restaurant {
    padding-top: 250px;
}

.restaurant {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 80px 0;
    gap: 40px;
}

.restaurant-left {
    width: 50%;
}

/* Flex для заголовков, чтобы h3 и h4 стояли на одном уровне */
.restaurant-header {
    display: flex;
    align-items: flex-start; /* Выравнивание по верхнему краю */
    gap: 200px; /* Отступ между h3 и h4 */
}

.restaurant-left h3 {
    font-size: 17px;
    margin: 0;
}

.restaurant-left .title {
    font-size: 82px;
    line-height: 1.3;
    margin: 0;
}

.restaurant-left p {
    margin: 20px 0 0 0;
    line-height: 1.5;
}

.restaurant-left .btn {
    margin-top: 20px;
    padding: 15px 70px;
    background: #011845;
    color: #fff;
    border: 2px solid #fff;
    transition: all 500ms ease;
    font-size: 24px;
    
}

.restaurant-left .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.restaurant-right {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;/
}

.cook-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 240px;

}
